extends ../base.pug

append stylesheets
  link(rel="stylesheet", href="./stylesheets/portfolio.css")

block title
  title Portfolio

mixin project( projectInformation, imgInformation, demoHref, githubHref)
  h2= projectInformation.title
  img.right(alt=imgInformation.alt src=imgInformation.src width=imgInformation.width)
  p #{projectInformation.description}
  - const linkStyling = "display: block;"
  a(href=demoHref style=linkStyling) Live demo
  a(href=githubHref style=linkStyling) Source Code

block body
  h1 Portfolio
  p A list of my various web development projects. Most have been done as I was going through The Odin Project curriculum.

  +project(
    {
      title: "Sweet Memory",
      description: "Sweet Memory is a small candy-themed memory game created with create-react-app"
    },
    {
      alt: "",
      src: "./assets/images/sweet_memory.png",
      width: "800px"
    },
    "TODO",
    "TODO"
  )
