extends base.pug

append stylesheets
  link(rel="stylesheet", href="./stylesheets/about-me.css")

block title
  title About Me

block body
  h1 About me
  p I'm currently a senior in highschool passionate about web development and my extra curriculars

  section
    h2 Extra Curriculars

    section
      h3 Robotics

      img.right(
        src="./assets/images/robotics.jpeg"
        alt="Group photo of Knight and Nerdy members"
        style="height: 500px"
      )

      p  I am a proud member of "Knight and Nerdy," our robotics team that competes in the #[a(href="https://www.firstinspires.org/robotics/frc") FIRST] competitions. Since my sophomore year, I've held the mantle as the lead programmer and have been the cornerstone for code contributions. My journey with robotics marked my deep dive into the world of coding, going beyond rudimentary exercises. Java was our language of choice. A pivotal moment in my programming journey was acquainting myself with the WPILIB framework and the art of leveraging tools. For the first time, I harnessed the power of Gradle for code compilation and deployment, and I ventured into the realm of version control with Git.

      p One of the standout experiences during my tenure in robotics was the rapid adaptability I cultivated. As the build season evolved, so did the mechanisms on our robot. This dynamic environment necessitated that I swiftly master the programming of diverse mechanisms, honing my ability to learn on-the-fly.

      p All of this was set against the backdrop of the adrenaline-charged race to have our robot competition-ready, a challenge that honed my practical skills. Beyond coding, robotics illuminated the art of translating technical jargon for the layperson. Our club was a trinity of mechanical, electrical, and programming sub-teams. I bridged the gap, ensuring the electrical team was aligned on sensor requirements programming needed and the mechanical team was cognizant of the programming constraints.

    section
      h3 Key Club
      img.left(
        src="./assets/images/key_club.jpeg"
        alt="Group photo of Key Club members"
        style="height: 300px"
      )
      p(style="padding-top: 25px") The main other club I participate in is Key Club! We're a student-led service club. We complete various projects together that better our community. I was the president Sophmore and Junior year, and right now I am the vice-president. Key Club really sharpened my interpersonal skills out of necessity to keep members interested and the club growing. I learnt to memorize names and make connections with a broad variety of people. Being in a leadership role of Key Club also required me to formally communicate with other organizations, especially our sponsoring Kiwanis Club. I learnt how to present, communicate, and dress professionally when interacting in the capacity of a Key Club President / Vice-president.

  section
    h2 The Odin Project
    p Along with Robotics, The Odin Project was another major contributor to my coding journey. The Odin Project taught me how to be a web developer and a wide array of technologies associated with Web Development. For instance, this website your reading right now was built with a bunch of technologies I learnt from The Odin Project like express and pug. The Odin Project switched between two phases of learning something and then doing a project on what you just learnt. Most of my portfolio contains projects I did for The Odin Project. I've been going through The Odin Project since June 2022.
