extends base.pug

append stylesheets
  link(rel="stylesheet", href="/stylesheets/portfolio.css")

block title
  title Portfolio

mixin project( projectInformation, imgInformation, demoHref, githubHref)
  div.portfolio__project
    div.portfolio__project__text
      h2= projectInformation.title
      p #{projectInformation.description}
      - const linkStyling = "display: block;"
      a(href=demoHref style=linkStyling) Live demo
      a(href=githubHref style=linkStyling) Source Code
    img(alt=imgInformation.alt src=imgInformation.src width=imgInformation.width)

block body
  h1 Portfolio
  p A list of my various web development projects. Most have been done as I was going through The Odin Project curriculum.

  +project(
    {
      title: "Waldo",
      description: "Waldo is a Create React App that is the classic Where's Waldo book in digital form"
    },
    {
      alt: "",
      src: "/assets/images/waldo.png",
      width: "800px"
    },
    "https://joel-singh.github.io/waldo",
    "https://github.com/Joel-Singh/waldo"
  )

  +project(
    {
      title: "Sweet Memory",
      description: "Sweet Memory is a small candy-themed memory game created with create-react-app"
    },
    {
      alt: "",
      src: "/assets/images/sweet_memory.png",
      width: "800px"
    },
    "https://joel-singh.github.io/sweet-memory/",
    "https://github.com/Joel-Singh/sweet-memory"
  )
