extends base.pug

append stylesheets
  link(rel="stylesheet", href="./about-me.css")

block title
  title About Me

block body
  h1 About me
  p I'm an incoming Denison University Student as a full ride #[a(href="https://www.questbridge.org/apply-to-college/programs/national-college-match/the-match-scholarship") QuestBridge Scholar]  passionate about programming

  section
    h2 Extra Curriculars

    section
      h3 Robotics

      img.right(
        src="../assets/images/robotics.jpeg"
        alt="Group photo of Knight and Nerdy members"
        style="height: 500px"
        width="500px"
        height="500px"
      )

      p I'm an alumni of my highschool's robotics team that competed in the #[a(href="https://www.firstinspires.org/robotics/frc") FIRST] competitions. From sophomore to senior, I was the lead programmer and oversaw all code contributions and communications. Programming for the FIRST competitions was my first foray into 'real' programming. I used a framework for the first time (WPILIB,) a build system (Gradle,)  Git, etc.

      p As programming lead I did a lot of communication. From communicating with the other programmers, to the other subteams. I essentially was the main point of communication for the programming team to mechanical, electrical and marketing.

      p In the right picture, I'm the one ontop! This was taken during my Junior year.

  section
    h2 The Odin Project
    img.right(src="../assets/images/odin_project.svg" alt="" width="200px")
    p Along with Robotics, #[a(href="https://www.theodinproject.com/") The Odin Project] has been the other contributor to my coding knowledge. The Odin project was an open source curriculum about web development. Most of my projects have come from me doing the Odin Project, including this here website you're reading.
